<div class="col-lg-12 col-md-10">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Investment Type</th>
      <th>Search</th>
      <th><select name="selectType" id="selectType" class="form-control" ng-model='q'>
          <option value="" ng-select>-- Select --</option>
          <option value="{{type.Date}}" ng-repeat="type in uniqueDates">{{type.Date}}</option>
        </select></th>
    </tr>
  </thead>
</table>
</div>
<div class="col-lg-12 col-md-10">
<div class="panel panel-default">
  <div class="panel-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Date</th>
            <th><a href="" ng-click="predicate = 'Stock'; reverse=!reverse">Stock</a></th>
            <th><a href="" ng-click="predicate = 'Action'; reverse=!reverse">Action</a></th>
            <th><a href="" ng-click="predicate = 'Qty'; reverse=!reverse">Qty.</a></th>
            <th><a href="" ng-click="predicate = 'Price'; reverse=!reverse">Price</a></th>
            <th><a href="" ng-click="predicate = 'TradeValue'; reverse=!reverse">Trade Value</a></th>
            <th><a href="" ng-click="predicate = 'Brokerage_incl_taxes'; reverse=!reverse">Brokerage</a></th>
            <th><a href="" ng-click="predicate = 'Exchange'; reverse=!reverse">Exchange</a></th>
            <th>Net Amount</th>
          </tr>
          <tr>
            <th>Filters</th>
            <th><input type="text" name="txtstock" id="txtstock" class="form-control" ng-model="txtstock"></th>
            <th><input type="text" name="txtAction" id="txtAction" class="form-control" ng-model="txtAction"></th>
            <th><input type="text" name="txtqty" id="txtqty" class="form-control" data-ng-model="txtqty"></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{TotalTradedValue(FilterData) | number:2}}</th>
            <th></th>
            <th>{{TotalBrokerageValue(FilterData) | number:2}}</th>
            <th></th>
            <th>{{TotalNetValue(FilterData) | number:2}}</th>
          </tr>
          <tr>
            <th>Purchase</th>
            <th>{{TotalPurchaseValue("Buy",FilterData)  | number:2}}</th>
            <th>Sales</th>
            <th>{{TotalPurchaseValue("Sell",FilterData) | number:2}}</th>
            <th>Hold</th>
            <th>{{TotalPurchaseValue("Hold",FilterData) | number:2}}</th>
            <th>Gain/Loss</th>
            <th>{{NetProfitLoss() | number:2}}</th>
            <th></th>
          </tr>
        </tfoot>
        <tbody>
          <tr ng-repeat="records in FilterData = ( local_summary | filter : {Date:q} | filter:{Stock:txtstock} | filter:{Action:txtAction} | filter:{Qty:txtqty}) | orderBy:predicate:reverse">
            <td>{{records.Date | date:'yyyy-MM-dd'}}</td>
            <td>{{records.Stock}}</td>
            <td>{{records.Action}}</td>
            <td>{{records.Qty}}</td>
            <td>{{records.Price}}</td>
            <td>{{records.TradeValue}}</td>
            <td>{{records.Brokerage_incl_taxes}}</td>
            <td>{{records.Exchange}}</td>
            <td>{{parseFloat(records.TradeValue) + records.Brokerage_incl_taxes | number:2}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
</div>